/* .formWrapper{
    display: table;
   width: 100%;
} */

.myCustomForm{
    color: white;
    background-color: #01243f;
    padding:36px;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}