.card{
    border:0px !important;
    height: 100% !important;
}

.chart-header{
    background-color: #012A4A !important; 
    border: 0px solid !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    font-size:18px !important; 
    color: white ;
    text-align: center;
}

.chart-content{
    border: 2px solid #012A4A ;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size:smaller !important;
    padding: 10px !important;
    background-color: #012A4A !important;
    color: white;
    
}

.underlineCustom{
    border-bottom: 5px solid #012A4A ;
}

.underlineCustom:last-of-type{
    border-bottom: 0px;
}

.recharts-brush-slide{
    fill: #014F86 !important;
    fill-opacity: 1 !important;
}


/* .recharts-brush{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
} */