.widget-card{
    height:100%;
}

.widget-header{
    background-color: #012A4A !important; 
    border: 0px solid !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    text-align: center !important;
    font-size:18px !important; 
    color: white
}

.widget-content{
    border: 2px solid #012A4A ;
    background-color: #012A4A !important;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size:smaller !important;
    padding-left:5px !important;
    padding-right:5px !important;
    padding-bottom: 3px !important;
}

.widget-meter{
    color: #012A4A !important;
}

.meterCol{
    padding: 0px !important;
}

.meter-name{
    text-align: center !important;
    color:white;
    font-size:medium !important;
}

.speedometer-container {
    display: flex;
    justify-content: space-between;
  }
  
  .speedometer {
    flex: 1;
    margin-left:5px;
    margin-right: 5px;
    font-size: small;
  }

  .segment-value{
    font-weight: normal !important;
  }

  .lastUpdate{
    color:white;
    font-style: italic;
    font-size:10px;
  }